* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(255, 124, 255);
  --second-color: rgb(153, 255, 204);
  --black-color: #000000;
}

body {
  background-image: url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.login_box {
  position: relative;
  width: 500px;
  backdrop-filter: blur(25px);
  border: 3px solid var(--primary-color);
  border-radius: 25px;
  padding: 7.5em 2.5em 4em 2.5em;
  color: var(--second-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.login-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  height: 55px;
  border-radius: 5px 5px 30px 30px;
}

@keyframes slideAndFade {
    0% {
      transform: translateX(-25px);
      opacity: 0;
    }
    30% {
        opacity: 0.5;
      }
    50% {
      opacity: 1;
    }
    80% {
        opacity: 0.5;
      }
    100% {
      transform: translateX(25px);
      opacity: 0;
    }
  }
  
  @keyframes rainbow {
    0% { color: red; font-family: "Arial", sans-serif; }
    20% { color: orange; font-family: "Courier New", monospace; }
    40% { color: yellow; font-family: "Times New Roman", serif; }
    60% { color: green; font-family: "Verdana", sans-serif; }
    80% { color: blue; font-family: "Georgia", serif; }
    100% { color: purple; font-family: "Arial", sans-serif; }
  }
  
  .login-header span {
    font-size: 25px;
    display: inline-block;
    opacity: 0;
    animation: slideAndFade 4s infinite ease-in-out, rainbow 6s infinite;
  }
  

.login-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 20px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 19px 0 0 0 var(--primary-color);
}

.login-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 20px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -19px 0 0 0 var(--primary-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: -16px;
  left: 20px;
  transition: 0.2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 25px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

input:required:valid {
  border-color: green;
}

.icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.input-submit {
  width: 100%;
  height: 50px;
  background: #ececec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.input-submit:hover {
  background: var(--second-color);
}

.register {
  text-align: center;
}

.register a {
  font-weight: 500;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }

  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}

.message {
  position: absolute;
  top: 75px;              
  left: 50%;
  font-size: 17px;
  font-family: 'Press Start 2P', cursive;   
  transform: translateX(-50%); 
  color: #971925;            
  padding: 10px 20px;         
  border-radius: 5px;        
  width: 80%;               
  text-align: center;        
}